{
    "CN": "etcd",
    "hosts": [
    "<MASTER_HOST01>",
    "<NODE_HOST01>",
    "<NODE_HOST02>"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "CN",
            "L": "BeiJing",
            "ST": "BeiJing"
        }
    ]
}
